.d-page-navigation {
    width: auto;
    display: flex;
    justify-content: space-between;
    height: 56px;
    align-items: center;
    box-sizing: border-box;
    
}

.d-number-page {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    flex-shrink: 2;
    
}

.d-number-page .d-number {
    padding: 7px;
    border-radius: 50%;
    margin: 5px;
    
}

.active {
    background-color: #019160;
    color: #ffffff;
    font-family: Misa Font Medium;
}

.d-number-page .d-number:hover {
    background-color: white;
    color: #000000;
    font-family: Misa Font Medium;
    cursor: pointer;
    
}

.d-control-right-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 40px;
    cursor: pointer;
}
.d-control-right-filter{
    cursor: pointer;
}
.d-combox-filter {
    margin-right: 10px;
}

.d-icon-control-page {
    padding: 3px;
}

.d-icon-control-page:hover {
    border-radius: 4px;
    background-color: white;
}

.d-page-navigation .d-btn-first-page, .d-btn-next-page {
    margin-right: 24px;
    cursor: pointer;
}
.d-border-page{
    border: 1px solid #000000;
}

